/File_FrontEnd/.DS_Store
/File_FrontEnd/node_modules
/File_FrontEnd/dist

# local env files
/File_FrontEnd/.env.local
/File_FrontEnd/.env.*.local

# Log files
/File_FrontEnd/npm-debug.log*
/File_FrontEnd/yarn-debug.log*
/File_FrontEnd/yarn-error.log*

# Editor directories and files
/File_FrontEnd/.idea
/File_FrontEnd/.vscode
/File_FrontEnd/*.suo
/File_FrontEnd/*.ntvs*
/File_FrontEnd/*.njsproj
/File_FrontEnd/*.sln
/File_FrontEnd/*.sw?

.idea
test