/File-FrontEnd/.DS_Store
/File-FrontEnd/node_modules
/File-FrontEnd/dist

# local env files
/File-FrontEnd/.env.local
/File-FrontEnd/.env.*.local

# Log files
/File-FrontEnd/npm-debug.log*
/File-FrontEnd/yarn-debug.log*
/File-FrontEnd/yarn-error.log*

# Editor directories and files
/File-FrontEnd/.idea
/File-FrontEnd/.vscode
/File-FrontEnd/*.suo
/File-FrontEnd*.ntvs*
/File-FrontEnd*.njsproj
/File-FrontEnd*.sln
/File-FrontEnd*.sw?
